<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.salesforce.mcpush" version="2.0.0">
    <name>Cordova Exact Target Plugin</name>
    <description>A Cordova Plugin to access the Exact Target native SDKs</description>
    <license>Apache 2.0</license>
    <keywords>cordova,MarketingCloud,MCPush</keywords>
    <js-module src="www/mcpush.js" name="MCPush">
        <clobbers target="ETPush" />
    </js-module>

    <preference name="DEV_APPID" />
    <preference name="DEV_ACCESSTOKEN" />
    <preference name="PROD_APPID" />
    <preference name="PROD_ACCESSTOKEN" />
    <preference name="ANALYTICS_ENABLED" />
    <preference name="WAMA_ENABLED" />
    <preference name="LOCATION_ENABLED" />
    <preference name="PROXIMITY_ENABLED" />
    <preference name="CLOUDPAGES_ENABLED" />
    <preference name="OVERRIDE_NTFN_ENABLED" />

    <platform name="ios">
        <config-file target="*-Info.plist" parent="/*">
            <dict>
                <key>NSLocationAlwaysUsageDescription</key>
                <string>Exact Target uses location in the background.</string>
            </dict>
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="MCPushSettings">
            <dict>
                <key>MCPUSH_DEV_APPID</key>
                <string>$DEV_APPID</string>
                <key>MCPUSH_DEV_ACCESSTOKEN</key>
                <string>$DEV_ACCESSTOKEN</string>
                <key>MCPUSH_PROD_APPID</key>
                <string>$PROD_APPID</string>
                <key>MCPUSH_PROD_ACCESSTOKEN</key>
                <string>$PROD_ACCESSTOKEN</string>
                <key>MCPUSH_ANALYTICS_ENABLED</key>
                <string>$ANALYTICS_ENABLED</string>
                <key>MCPUSH_WAMA_ENABLED</key>
                <string>$WAMA_ENABLED</string>
                <key>MCPUSH_LOCATION_ENABLED</key>
                <string>$LOCATION_ENABLED</string>
                <key>MCPUSH_PROXIMITY_ENABLED</key>
                <string>$PROXIMITY_ENABLED</string>
                <key>MCPUSH_CLOUDPAGES_ENABLED</key>
                <string>$CLOUDPAGES_ENABLED</string>    
            </dict>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="MCPush">
                <param name="ios-package" value="CDVMCPush"/>
            </feature>
        </config-file>

        <source-file src="src/ios/AppDelegate+ETPush.m" />
        <source-file src="src/ios/CDVMCPush.m" />
        <!-- <source-file src="src/ios/CDVMCPush_ExactTargetEnhancedPushDataSource.m" /> -->
        <source-file src="src/ios/CDVMCConstants.m" />

        <header-file src="src/ios/AppDelegate+ETPush.h" />
        <header-file src="src/ios/CDVMCPush.h" />
        <!-- <header-file src="src/ios/CDVMCPush_ExactTargetEnhancedPushDataSource.h" /> -->
        <header-file src="src/ios/CDVMCConstants.h" />

        <header-file src="src/ios/MCPushSDK/ETAnalytics.h" />
        <header-file src="src/ios/MCPushSDK/ETCloudPage.h" />
        <header-file src="src/ios/MCPushSDK/ETCloudPageDataSource.h" />
        <header-file src="src/ios/MCPushSDK/ETEventMessage.h" />
        <header-file src="src/ios/MCPushSDK/ETEventRegion.h" />
        <header-file src="src/ios/MCPushSDK/ETGenericUpdate.h" />
        <header-file src="src/ios/MCPushSDK/ETLandingPagePresenter.h" />
        <header-file src="src/ios/MCPushSDK/ETLocationManager.h" />
        <header-file src="src/ios/MCPushSDK/ETMessage.h" />
        <header-file src="src/ios/MCPushSDK/ETPush.h" />
        <header-file src="src/ios/MCPushSDK/ETRegion.h" />
        <header-file src="src/ios/MCPushSDK/ETWKLandingPagePresenter.h" />
        <header-file src="src/ios/MCPushSDK/ExactTargetEnhancedPushDataSource.h" />
        <header-file src="src/ios/MCPushSDK/PICart.h" />
        <header-file src="src/ios/MCPushSDK/PICartItem.h" />
        <header-file src="src/ios/MCPushSDK/PIOrder.h" />
        <header-file src="src/ios/MCPushSDK/PushConstants.h" />

        <source-file src="src/ios/MCPushSDK/libJB4ASDK-4.9.0.20800000.a" framework="true" />
        <framework src="libsqlite3.dylib" />
        <framework src="CoreLocation.framework/" />
        <framework src="WebKit.framework/" />
    </platform>

    <platform name="android">
        <preference name="DEV_GCMSENDERID" />
        <preference name="PROD_GCMSENDERID" />

        <framework src="src/android/MCPush.gradle" custom="true" type="gradleReference" />

        <hook type="after_prepare" src="scripts/android_after_prepare.js" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MCPush">
                <param name="android-package" value="com.salesforce.mcpush.MCPushCordovaPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/res/values/secrets.xml" target-dir="res/values/" />
        <config-file target="res/values/secrets.xml" parent="/resources">
          <string name="MCPUSH_DEV_APPID">$DEV_APPID</string>
          <string name="MCPUSH_DEV_ACCESSTOKEN">$DEV_ACCESSTOKEN</string>
          <string name="MCPUSH_DEV_GCMSENDERID">$DEV_GCMSENDERID</string>
          <string name="MCPUSH_PROD_APPID">$PROD_APPID</string>
          <string name="MCPUSH_PROD_ACCESSTOKEN">$PROD_ACCESSTOKEN</string>
          <string name="MCPUSH_PROD_GCMSENDERID">$PROD_GCMSENDERID</string>
          <bool name="MCPUSH_ANALYTICS_ENABLED">$ANALYTICS_ENABLED</bool>
          <bool name="MCPUSH_WAMA_ENABLED">$WAMA_ENABLED</bool>
          <bool name="MCPUSH_LOCATION_ENABLED">$LOCATION_ENABLED</bool>
          <bool name="MCPUSH_PROXIMITY_ENABLED">$PROXIMITY_ENABLED</bool>
          <bool name="MCPUSH_CLOUDPAGES_ENABLED">$CLOUDPAGES_ENABLED</bool>
          <bool name="MCPUSH_OVERRIDE_NTFN_ENABLED">$OVERRIDE_NTFN_ENABLED</bool>
        </config-file>

        <source-file src="src/android/CONSTS.java" target-dir="src/com/salesforce/mcpush" />
        <source-file src="src/android/MCPushCordovaApplication.java" target-dir="src/com/salesforce/mcpush" />
        <source-file src="src/android/MCPushCordovaPlugin.java" target-dir="src/com/salesforce/mcpush" />
     </platform>

</plugin>
