<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.salesforce.marketingcloud.cordovaplugin" version="2.0.0">
    <name>Cordova MarketingCloudSdk Plugin</name>
    <description>A Cordova Plugin to access the MarketingCloudSdk native SDKs</description>
    <license>Apache 2.0</license>
    <keywords>cordova,MarketingCloud,MarketingCloudSdk</keywords>
    <js-module src="www/MarketingCloudSdk.js" name="MarketingCloudSdk">
        <clobbers target="MarketingCloudSdk" />
    </js-module>

    <preference name="APPID" />
    <preference name="ACCESSTOKEN" />
    <preference name="MCANALYTICS" />

    <platform name="ios">
        <config-file target="*-Info.plist" parent="/*">
            <dict>
                <key>NSLocationAlwaysUsageDescription</key>
                <string>MarketingCloudSdk uses location in the background.</string>
            </dict>
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="MarketingCloudSdkSettings">
            <dict>
                <key>APPID</key>
                <string>$APPID</string>
                <key>ACCESSTOKEN</key>
                <string>$ACCESSTOKEN</string>
                <key>MCANALYTICS</key>
                <string>$MCANALYTICS</string>
            </dict>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="MarketingCloudSdk">
                <param name="ios-package" value="MCPushSDKPush"/>
            </feature>
        </config-file>

        <source-file src="src/ios/AppDelegate+MCPushSDKPush.m" />
        <source-file src="src/ios/MCPushSDKPush.m" />

        <header-file src="src/ios/AppDelegate+MCPushSDKPush.h" />
        <header-file src="src/ios/MCPushSDKPush.h" />

        <header-file src="src/ios/MCPushSDK/ETPush.h" />
        <header-file src="src/ios/MCPushSDK/ETLocationManager.h" />
        <header-file src="src/ios/MCPushSDK/PushConstants.h" />

        <source-file src="src/ios/MCPushSDK/libJB4ASDK-4.9.0.20800000.a" framework="true" />
        <framework src="libsqlite3.dylib" />
        <framework src="CoreLocation.framework/" />
        <framework src="WebKit.framework/" />
    </platform>

    <platform name="android">
        <preference name="GCMSENDERID" />

        <framework src="src/android/MarketingCloudSdk.gradle" custom="true" type="gradleReference" />

        <hook type="after_prepare" src="scripts/android_after_prepare.js" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MarketingCloudSdk">
                <param name="android-package" value="com.salesforce.marketingcloud.cordovaplugin.MarketingCloudSdkCordovaPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/res/values/secrets.xml" target-dir="res/values/" />
        <config-file target="res/values/secrets.xml" parent="/resources">
          <string name="APPID">$APPID</string>
          <string name="ACCESSTOKEN">$ACCESSTOKEN</string>
          <string name="GCMSENDERID">$GCMSENDERID</string>
          <string name="MCANALYTICS">$MCANALYTICS</string>
        </config-file>

        <source-file src="src/android/MarketingCloudSdkCordovaApplication.java" target-dir="src/com/salesforce/marketingcloud/cordovaplugin" />
        <source-file src="src/android/MarketingCloudSdkCordovaPlugin.java" target-dir="src/com/salesforce/marketingcloud/cordovaplugin" />
     </platform>

</plugin>
