<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" 
  xmlns:rim="http://www.blackberry.com/ns/widgets" id="cordova-plugin-marketingcloudsdk-tests" version="2.0.0">
  <name>MCCordovaPlugin Tests</name>
  <license>BSD-3-Clause</license>

  <js-module src="tests.js" name="tests">
  </js-module>
  
  <config-file target="config.xml" parent="/*">
    <!-- <preference name="AndroidInsecureFileModeEnabled" value="true" /> -->
    <!-- the logging server is http so force the webview to also be http -->
    <preference name="com.salesforce.marketingcloud.app_id" value="6ff36654-9d38-4199-8bb0-94b950c2f180" />
    <preference name="com.salesforce.marketingcloud.access_token" value="zbdvfgg9keuz6egz6rkfr5wc" />
    <preference name="com.salesforce.marketingcloud.tenant_specific_endpoint" value="https://mcgrjfgk81ckrt0h4rwlnbhmbvf4.device.marketingcloudapis.com/" />
    <preference name="com.salesforce.marketingcloud.analytics" value="true" />
    <!-- <preference name="localhost" value="apptest.cordova.apache.org" /> -->
  </config-file>
</plugin>
